NEXT_PUBLIC_APP_URL=http://localhost:3000
ROBINHOOD_NETWORK=mainnet
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_CHAIN_ID=4663
ROBINHOOD_CHAIN_NAME=Robinhood Chain
ROBINHOOD_EXPLORER_URL=https://robinhoodchain.blockscout.com
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
INDEXER_BASE_URL=https://api.geckoterminal.com/api/v2
INDEXER_CHAIN_ID=robinhood
INDEXER_API_KEY=
BLOCKSCOUT_API_URL=https://robinhoodchain.blockscout.com/api/v2
CRON_SECRET=
